<header>
  <nav>
    <ul id="menu">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Widgets', widgets_path %>
        </li>
        <li>
          <%= link_to 'My Account', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
<p id="notice"><%= notice %></p>
